<div class="row">
  <div class="col-xs-12">
    <p>Add new serves or Blue Prints</p>
    <label >Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <input 
    type="text"
     class="form-control" 
     #ServerNameInput
     >
    <label >Server Content</label>
    <!-- <input type="text" class="form-control"  [(ngModel)]="newServerContent"> -->
    <input 
    type="text" 
    class="form-control"  
    #serverContentInput
    >
    <br>
    <button class="btn btn-primary" (click)="onAddServer(ServerNameInput)">Add Server</button>
    <button class="btn btn-primary" style="margin-left: 3%" (click)="onAddBluePrint(serverContentInput)">Add Server Blueprint</button>
  </div>
</div>
